* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: snow;
    color: royalblue;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.placar {
    margin: 20px auto;
    border: 3px solid whitesmoke;
    border-radius: 4px;
    text-align: center;
    width: 250px;
    font-size: 42px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background-color: cyan;
    font-size: 14px;
    padding: 2px 15px;
    color: black;
}

#jogador {
    position: absolute;
    top: 30px;
    left: -50px;
}

#computador {
    position: absolute;
    top: 30px;
    right: -50px;
}

/* Resultado do Jogo */
.resultado {
    font-size: 40px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

/* Escolhas */
.escolhas {
    text-align: center;
    margin-top: 50px;
}

button.escolha {
    border: 4px solid whitesmoke;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.escolha:hover {
    background-color: cyan;
    cursor: pointer;
}

.escolha:active {
    background-color: lightblue;
    border: none;
}

#jogada {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
}