/* Variáveis do CSS na raiz do documento */
:root {
  --vermelho: #e50914;
  --preto: #141414;
}

/* Ressetando o CSS padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
}

header .logo {
  color: var(--vermelho);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; /* Negrito */
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaaaaa;
  margin-right: 10px;
  cursor: pointer;
}

header nav a:hover {
  color: #ffffff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.59) 100%),
    url("../img/house-of-cards.jpg");
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
  margin-top: 15%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 50%;
}

.botao {
  background-color: rgba(0, 0, 0, 0.4); /* 40% de opacidade */
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  margin-right: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: 300ms ease all;
}

.botao:hover {
  background-color: #ffffff;
  color: var(--preto);
}

@media screen and (max-width: 800px) {
    header .container {
        flex-direction: column;
    }
    header .logo {
        font-size: 24px;
    }
    .botao {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
    .filme-principal {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 500px;
    }
}